<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
    <script>    

      var sortByTitle = function(wikis) {
          let swapped;
          do {
            swapped = false;
            for (let i=0; i < wikis.length; i++) {
              if (wikis[i] && wikis[i + 1] && wikis[i].title < wikis[i + 1].title) {
                [wikis[i], wikis[i + 1]] = [wikis[i + 1], wikis[i]];
                swapped = true;
              }
            }
          } while (swapped);
          
          var sortedWikis = wikis;
          debugger
          return sortedWikis;
      }
  
  </script>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Wikis</h1>
      <% if(currentUser) { %>
        <a href="/wikis/new" class="btn btn-success">New Wiki</a>
      <% } %>
      <input type="button" name="sort" value="Sort by title" onclick="sortByTitle(`<%- wikis %>`)">
      <ul class="list-group">

        <h4>Public</h4>
        <% if(typeof sortedWikis == "undefined") { %>
          <% wikis.forEach((wiki) => { %>
            <% if (wiki.private === false) { %>
              <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              </li>
            <% } %>
          <% }) %>
        <% } else { %>
          <% sortedWikis.forEach((wiki) => { %>
            <% if (wiki.private === false) { %>
              <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              </li>
            <% } %>
          <% }) %>
        <% } %>

        <% if (currentUser && (currentUser.isAdmin() || currentUser.isPremium())) { %>
          <h4>Private</h4>
          <% wikis.forEach((wiki) => { %>
            <% if (wiki.private === true) { %>
              <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              </li>
            <% } %>
          <% }) %>
        <% } %>

        <% if (currentUser) { %>
          <h4>Collaborating on:</h4>
          <% wikis.forEach((wiki) => { %>
            <% wiki.collaborators.forEach((collaborator) => { %>
              <% if(collaborator.userId === currentUser.id) { %>
                <li class="list-group-item">
                  <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
                </li>
              <% } %>
            <% }) %>
          <% }) %>
        <% } %>
      </ul>

    </main>
  </body>
</html>