<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Search results</h1>

      <ul class="list-group">

        <h4>Public</h4>
        <% results.forEach((result) => { %>
          <% if (result.private === false) { %>
            <li class="list-group-item">
              <a href="/wikis/<%= result.id %>"> <%= result.title %> </a>
            </li>
          <% } %>
        <% }) %>

        <% if (currentUser && (currentUser.isAdmin() || currentUser.isPremium())) { %>
          <h4>Private</h4>
          <% results.forEach((result) => { %>
            <% if (result.private === true) { %>
              <li class="list-group-item">
                <a href="/wikis/<%= result.id %>"> <%= result.title %> </a>
              </li>
            <% } %>
          <% }) %>
        <% } %>

        <% if (currentUser) { %>
          <h4>Collaborating on:</h4>
          <% results.forEach((result) => { %>
            <% result.collaborators.forEach((collaborator) => { %>
              <% if(collaborator.userId === currentUser.id) { %>
                <li class="list-group-item">
                  <a href="/wikis/<%= result.id %>"> <%= result.title %> </a>
                </li>
              <% } %>
            <% }) %>
          <% }) %>
        <% } %>
      </ul>

    </main>
  </body>
</html>