<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
    <script type="text/javascript">
      const request = require('request');

      function getConfirmation(){
        var retVal = confirm("Are you sure? All of your private Wikis will become public!");
        let options = {
          url: '/users/<%= currentUser.id %>/downgrade',
          form: {
            email: 'me@example.com',
            password: 'myPassword'
          }
        };


        if( retVal == true ){
          return request.post('/users/<%= currentUser.id %>/downgrade', {form:{key:'value'}})
        }
        else{
            console.log("User does not want to continue!");
            return false;
        }
      }

   </script>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>
      
      <div style="display: flex; align-items:center;">
        <h1><%= currentUser.username %>'s Profile </h1>
      </div>

      <p>Email: <%= currentUser.email %> </p>
      <p>Member level:
        <% if(currentUser.role === 0) { %> Standard 

            <p>Upgrade to Premium for only $15!</p>
            <form action="/users/<%= currentUser.id %>/upgrade" method="POST">
              <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key = "pk_test_Xx4wT5223AG6iECG0ARBRr8E"
                  data-amount="1500"
                  data-name="Blocipedia"
                  data-description="Premium membership"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-locale="auto">
              </script>
            </form>

        <% } else if (currentUser.role === 1) { %> Premium
            <form action="/users/<%= currentUser.id %>/downgrade" method="POST">
              <button type="submit" class="btn btn-danger">Downgrade membership</button>
            </form>
        <% } else if (currentUser.role === 2) { %> Admin
            
        <% } %>
      </p>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>